<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Login</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
<div class="header">
  <div class="am-g">
    <h1>Voting System Login</h1>
  </div>
  <hr />
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <br>

<video id="qr-video" style="display: none; max-width: 100%; width: auto;"></video>

      <div id="video-control" class="am-cf am-text-center" style="display: none;">
<button id="flash-toggle" class="am-btn am-btn-danger" >Flash <span id="flash-state">Off</span></button>
<button id="switch-camera" class="am-btn am-btn-secondary">Switch Camera</button>
          <hr>
          </div>
<div class="am-cf am-text-center">
  <button id="btn-scan" class="am-btn am-btn-primary am-btn-sm" style="font-size: 20px;" onclick="startScan()">Login By Scan QR Code</button>
</div>
    <p>© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
  </div>
</div>
</body>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/qr-scanner.umd.min.js"></script>
<script src="/assets/js/qr-scanner.legacy.min.js"></script>
<script>
    let scanner = "";
    let camList = [];
    let selectedCam = 0;
    const flashToggle = document.getElementById('flash-toggle');
    const flashState = document.getElementById('flash-state');
    const switchCamera = document.getElementById('switch-camera');
    function setResult(result) {
        scanner.stop();
        alert(result.data);
        console.log(result.data);
    }
        //闪光灯检测
    const updateFlashAvailability = () => {
        scanner.hasFlash().then(hasFlash => {
            flashToggle.style.display = hasFlash ? 'inline-block' : 'none';
        });
    };
    flashToggle.addEventListener('click', () => {
        scanner.toggleFlash().then(() => {
          flashState.textContent = scanner.isFlashOn() ? 'On' : 'Off';
          if (scanner.isFlashOn()) {
                flashToggle.classList.remove('am-btn-danger');
                flashToggle.classList.add('am-btn-secondary');
          } else {
              flashToggle.classList.add('am-btn-danger');
              flashToggle.classList.remove('am-btn-secondary');
          }
        });
    });
    switchCamera.addEventListener('click', () => {
        selectedCam = (selectedCam + 1) % camList.length;
        console.log(camList[selectedCam]);
        console.log(camList);

        scanner.setCamera(camList[selectedCam]).then(updateFlashAvailability);
    });
function startScan(){
    const qrVideo = document.getElementById('qr-video');

    $('#qr-video').show();
    $('#video-control').show();

    let btnScan = $('#btn-scan');
    btnScan.text('Stop Scan');
    btnScan.attr('onclick', 'stopScan()');
    scanner = new QrScanner(qrVideo, result => setResult(result), {
        highlightScanRegion: true,
        highlightCodeOutline: true,
    });
    scanner.start().then(() => {
        updateFlashAvailability();
        // List cameras after the scanner started to avoid listCamera's stream and the scanner's stream being requested
        // at the same time which can result in listCamera's unconstrained stream also being offered to the scanner.
        // Note that we can also start the scanner after listCameras, we just have it this way around in the demo to
        // start the scanner earlier.
        QrScanner.listCameras(true).then(cameras => cameras.forEach(camera => {
            camList.push(camera.id);
        }));
    });

}
function stopScan(){
    scanner.stop();
    $('#qr-video').hide();
    $('#video-control').hide();
    let btnScan = $('#btn-scan');
    btnScan.text('Login By Scan QR Code');
    btnScan.attr('onclick', 'startScan()');
}
</script>
</html>
