<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Login</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
<div class="header">
  <div class="am-g">
    <h1>Voting System Login</h1>
  </div>
  <hr />
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <br>

<video id="qr-video" style="display: none; max-width: 100%; width: auto;"></video>

      <div id="video-control" class="am-cf am-text-center" style="display: none;">
<button id="flash-toggle" class="am-btn am-btn-danger" >Flash <span id="flash-state">Off</span></button>
<button id="switch-camera" class="am-btn am-btn-secondary">Switch Camera</button>
          <hr>
          </div>
<div class="am-cf am-text-center">
  <button id="btn-scan" class="am-btn am-btn-primary am-btn-sm" style="font-size: 20px;" onclick="startScan()">Login By Scan QR Code</button>
</div>
    <p>© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
  </div>
</div>
</body>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/qr-scanner.umd.min.js"></script>
<script src="/assets/js/qr-scanner.legacy.min.js"></script>
<script src="/assets/js/my-qrcode-scan.js"></script>
<script src="/assets/js/my-public.js"></script>

<script>


    function setResult(result) {
        scanner.stop();
        //console.log(result.data);
        //解码
        let QRResult = deCodeQRCodeData(result.data);
        console.log(QRResult);
        //设置cookie
        setCookie('id', QRResult.id, 1);
        //跳转到主页
        window.location.href = '/';
    }

</script>
</html>
